body {
	min-height: 100vh !important;
	margin: 0;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

#root {
	min-height: 100vh;
}

.content {
	display: flex;
	min-height: 100vh;
	line-height: 1.1;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.content h1 {
	font-size: 3.6rem;
	font-weight: 700;
}

.content p {
	font-size: 1.2rem;
	font-weight: 400;
	opacity: 0.5;
}

.w1 {
	font-size: 1.5rem;
	width: calc(100% - 2rem);
}

.embla__slide:not(.is-snapped) {
	opacity: 0.05;
}
