body {
	min-height: 100vh !important;
	margin: 0;
	font-family: "Lato", Helvetica, Arial, sans-serif;
}

#root {
	min-height: 100vh;
}

.content {
	display: flex;
	min-height: 100vh;
	line-height: 1.1;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}

.embla__slide:not(.is-snapped) {
	opacity: 0.05;
}
