.backgroundMap {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.mapOverlay {
	/* visibility: hidden; */
	background-color: hsla(108, 45%, 96%, 1);
	background-image: url("../img/map-background-noise-light.png");
	/* opacity: 0.7; */
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	backdrop-filter: blur(2.5px);
	transition: all 4s ease-in-out;
}
