.backgroundMap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.mapOverlay {
  background-color: #f1f9ef;
  background-image: url("../img/map-background-noise-light.png");
  opacity: 0.7;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  backdrop-filter: blur(3px);
  transition: all 3s ease-in-out;
}